/* Global styles */
body {
    background-color: rgb(77, 77, 77);
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

/* Header styles */
header {
    text-align: center;
}

h1 {
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
}

/* Word container styles */
#word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Guesses left styles */
#guesses-left {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Letters styles */
#letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Message styles */
#message {
    font-weight: bold;
}

/* Letter bank styles */
#letter-bank {
    margin-bottom: 20px;
}

/* Pill bottle container styles */
#pill-bottle-container {
    display: flex;
    justify-content: center;
}

/* Pill bottle styles */
#pill-bottle {
    display: flex;
    align-items: center;
}

/* Pill bottle art styles */
#pill-bottle-art {
    white-space: pre;
    margin-right: 20px;
}

/* Man image styles */
#man-image {
    max-width: 400px;
    max-height: 400px;
}

/* Button styles */
.btn-primary {
    background-color: #740707;
    color: #fff;
    border-color: #740707;
    margin-bottom: 5px;
}

.btn-primary:hover {
    background-color: #ab8852;
    border-color: #560e07;
}

.btn-primary:active {
    border-color: #560e07 !important;
    background-color: #e6e0b3 !important;
}

/* Paragraph styles */
#bullshit-paragraph {
    margin-bottom: 20px;
    background-color: #560e07 !important;
    color: #fff;
}

/* Wrong guess label styles */
#wrong-guess-label {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}
